.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.img-circle{
    height: 175px;
    /* width:125px;
    border-radius: 800px;
    border-width: 50px;
    border-color: white; */
}
 .bg-1 { 
    background-color: rgb(188, 220, 244); /* blue**/
    color:  black;
}
.bg-2 { 
    background-color:  rgb(188, 220, 244); /* darker blue */
    color: black;
}
.bg-3 { 
    background-color: rgb(221, 15, 240);  /* more darker blue */
    color: #ffffff;
}
.bg-4 { 
    background-color: rgb(148, 13, 193); /* darkest blue */
    color: #ffffff;
}
.icons{
    height: 50px;
    width:50px;
}