.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.juliet{
    height: 200px;
    width:125px;
    border-radius: 500px;
    border-width: 5px;
    border-color: white;
}
 .bg-1 { 
    background-color: rgb(221, 15, 240); /* blue**/
    color:  #ffffff;
}
.bg-2 { 
    background-color:  rgb(148, 13, 193); /* darker blue */
    color: #ffffff;
}
.bg-3 { 
    background-color: rgb(221, 15, 240);  /* more darker blue */
    color: #ffffff;
}
.bg-4 { 
    background-color: rgb(148, 13, 193); /* darkest blue */
    color: #ffffff;
}
.icons{
    height: 50px;
    width:50px;
}