.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
 .bg-1 { 
    background-color: #46d4ed; /* blue**/
    color: #ffffff;
}
.bg-2 { 
    background-color: #20beda ; /* darker blue */
    color: #ffffff;
}
.bg-3 { 
    background-color: #0397b1;  /* more darker blue */
    color: #ffffff;
}
.bg-4 { 
    background-color: #036e8f; /* darkest blue */
    color: #ffffff;
}